<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.survey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Testing">
        </activity>
        <activity android:name=".Superviser.UserList" >
        </activity>
        <activity
            android:name=".ViewSurvey"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".District"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Approved"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Pending"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Rejected"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TodayCompleted"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TodayPending"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TakeSurvay"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Addsurvey_first_next"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HouseHoldRoaster"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AnnualIncome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>